*, *::before, *::after{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

body{
    padding: 0;
    margin: 0;
    background: linear-gradient(130.08deg, #383528 0%, #6b6b76 100%);
}

h1{
    text-align: center;
    align-items: center;
    font-size: 5rem;
    justify-content: center;
}

span{
    color: beige;
}

.calci{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: minmax(120px, auto) repeat(5,100px);
}

.calci button{
    cursor: pointer;
    font-size: 2.5rem;
    border: 1px solid white;
    border-radius: 10px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.75);
    transition: all 0.5s ease-in-out;
}

.calci button:hover{
    background-color: rgba(255, 255, 255, 0.9);
    color: orangered;
}

.span{
    grid-column: span 2;
}


.result{
    grid-column: 1/-1;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 5px;
}

.result .previous{
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.5rem;
}

.result .current{
    color: white;
    font-size: 2.5rem;
}